.admin-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.admin-form__heading h2 {
    text-align: center;
    font-size: 35px;
    color: #8B7969;
    margin-bottom: 40px;
    font-weight: 400;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__group-key input{
    width: 350px;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #F4F4F4;
    background-color: #fafafa;
    color: #BEB1A6;
}

.form__group input,select {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #F4F4F4;
    background-color: #fafafa;
    color: #BEB1A6;
}

.form__button {
    text-align: center;
}

.form__button-submit {
    padding: 10px 20px;
    width: 100px;
    height: 50px;
    background-color: #8B7969;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.form__reset {
    text-align: center;
    padding: 10px 20px;
    width: 100px;
    height: 50px;
    background-color: #D9C6B5;
    border: none;
}

.form__reset a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

/* エクスポート */
.container {
    display: flex;
    justify-content: space-between;
}

.export-container {
    text-align: center;
    margin: 10px 0px;
}

.export-container-submit {
    padding: 10px 20px;
        width: 150px;
        height: 40px;
        background: #E1DBD699;
        color: #8B7969;
        border: none;
        cursor: pointer;
        font-size: 14px;
}



/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination a,
.pagination span {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #8B7969;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #8B7969;
    color: #fff;
}

.pagination .active span {
    background-color: #8B7969;
    color: #fff;
    border: none;
}

.pagination .disabled span {
    color: #ddd;
}



/* 検索結果 */
thead {
    background: #8B7969;
    color: #fff;
}

tbody {
    color: #8B7969;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
}

table th,
table td {
    border-width: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}