/* ヘッダーのスタイル */
body {
    font-family: "Inika", system-ui;
    font-weight: 400;
    font-style: normal;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #E0DFDE;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__inner {
    margin: 0 auto;
    max-width: 1230px;
}

.header__logo {
    font-size: 40px;
    color: #8B7969;
    margin: 0px;
}

.header-actions {
    position: absolute;
    right: 0;
    display: flex;
    gap: 15px;
    margin-right: 50px;
    margin-top: 15px;
}

.header-logout__button,
.header-action__button {
    padding: 10px 20px;
    width: 100px;
    height: 35px;
    background-color: #F0F0F099;
    color: #D9C6B5;
    border: 1px solid #D9C6B5;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    line-height: 35px;
}

.header-logout__button:hover,
.header-action__button:hover {
    background-color: #e0dcd8;
}