/* フォーム全体 */
.contact-form__content {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

.contact-form__heading h2 {
    text-align: center;
    font-size: 35px;
    color: #8B7969;
    margin-bottom: 40px;
    font-weight: 400;
}

/* 各フォームグループ */
.form__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form__group-title {
    flex-basis: 30%;
    font-size: 20px;
    color: #8B7969;
}

.form__label--required {
    color: red;
    margin-left: 5px;
}

.form__group-content {
    flex-basis: 65%;
    color: #8B7969;
}

.form__input--name,
.form__input--tell {
    display: flex;
    justify-content: space-between;

}

.form__input--name input {
    width: 200px;
}

.form__input--tell input {
    width: 130px;
}

/* 名前と電話番号フィールドを横並びにする */
.form__input--name input,
.form__input--tell input {
    padding: 10px;
    border: 1px solid #F4F4F4;
    font-size: 14px;
    background-color: #fafafa;
    display: inline-block;
    margin-right: 15px;
    color: #BEB1A6;
}

.form__input--tell input:last-child,
.form__input--name input:last-child {
    margin-right: 0;
}

.form__input--gender label {
    margin-right: 50px;
}

/* テキスト入力やテキストエリア */
.form__input--text input,
.form__input--textarea textarea,
.form__input--category select {
    width: 100%;
    padding: 10px;
    border: 1px solid #F4F4F4;
    font-size: 16px;
    background-color: #fafafa;
    color: #BEB1A6;
}

/* テキストエリア */
.form__input--textarea textarea {
    height: 120px;
    resize: none;
}

/* お問い合わせの種類（セレクトボックス） */
.form__input--category select {
    appearance: none;
    background-color: #fafafa;
}

/* ボタン */

.form__button {
    text-align: center;
}

.form__button-submit {
    margin-top: 30px;
    width: 160px;
    padding: 15px;
    font-size: 20px;
    background-color: #82756A;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

.form__button-submit:hover {
    background-color: #5d4037;
}

.form__error {
    color: red;
}