body {
    background-color: #f5ebe0;
    margin: 0;
    padding: 0;
}

/* コンテンツの中央寄せ */
.contact-form__content {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

/* ヘッダー部分のスタイル */
.login-form__heading h2 {
    text-align: center;
    font-size: 35px;
    color: #8B7969;
    margin-bottom: 40px;
    font-weight: 400;
}

.login-form__main {
    background-color: #fff;
    width: 700px;
    height: 550px;
    margin: 50px auto;
    padding: 80px 90px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* フォームグループ全体 */
.form__group {
    margin-bottom: 55px;
}

/* ラベル部分 */
.form__group-title {
    font-size: 25px;
    margin-bottom: 5px;
    color: #8B7969;
}

/* テキスト入力フィールド */
.form__input--text input {
    width: 100%;
    height: 55px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #F4F4F4;
    background-color: #fafafa;
    color: #BEB1A6;
}

/* エラーメッセージ */
.form__error {
    font-size: 12px;
    color: #ff6666;
    margin-top: 5px;
}

/* ボタンのスタイル */
.form__button {
    text-align: center;
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px 20px;
    width: 30%;
    background-color: #8B7969;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 35px;
}

.form__button-submit:hover {
    background-color: #705a4f;
}