body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    font-family: "Inika", system-ui;
    font-weight: 400;
    font-style: normal;
}

.thank-you-container {
    position: relative;
    text-align: center;
}

.thank-you-background {
    font-size: 280px;
    color: rgba(139, 121, 105, 0.1);
    /* 背景のThank youを薄く表示 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.thank-you-message {
    position: relative;
    z-index: 1;
}

.thank-you-message p {
    font-size: 30px;
    color: #8B7969;
    margin-bottom: 30px;
}

.thank-you-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8B7969;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.thank-you-button:hover {
    background-color: #705E51;
}